# Ignore build artifacts
build/
dist/

# Ignore dependencies
node_modules/
vendor/

# Ignore logs and cache files
*.log
*.cache

# Ignore environment-specific files
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Ignore editor-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
